/* .header {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
    border-radius: 3px;
} */

.weeklyReport {
    color: rgba(158, 158, 158, 0.87);
    text-align: center
}

.main {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    /* or 67% */

    text-align: center;

    color: rgba(0, 0, 0, 0.87);
}